
@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}

@keyframes fullRotate {
  100% {transform: rotate(180deg);}
}

#map-points-wrapper {
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 100;
  border-radius: 10px 10px 0 0;
  margin: -15px 0 0 0;
  @media only screen and (min-width: 600px)  {
    border-radius: 0 10px 10px 0;
    margin: 0 -15px 0 0;
  }

  &.onTop {
    @media only screen and (min-width: 600px)  {
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      border-radius: 0  0 10px 10px;
      margin: 0 0 -15px 0;
    }
  }
  #drag-indicator-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    @media only screen and (min-width: 600px)  {
      display: none;
    }
    #drag-indicator {
      width: 30px;
      height: 4px;
      background-color: grey;
      border-radius: 3px;
    }
  }
  #header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    position: relative;
  }
  #open {
    display: none;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin: auto 5px;
    &:hover {
      transform-origin: 50% 50%;
      animation: jump .5s linear alternate infinite;
    }
    &:active {
      animation: fullRotate .3s linear forwards;
    }
    @media only screen and (min-width: 600px)  {
      display: block;
    }
  }
  #close {
    display: none;
    @media only screen and (min-width: 600px)  {
      display: block;
      position: absolute;
      top: 12px;
      right: 24px;
      &:hover {
        top: 11px;
      }
    }
  }
  #close:before, #close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: black;
  }
  #close:before {
    transform: rotate(45deg);
  }
  #close:after {
    transform: rotate(-45deg);
  }
  #carret-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    margin: auto 5px;
    &:hover {
      transform-origin: 50% 50%;
      animation: jump .5s linear alternate infinite;
    }
    &:active {
      animation: fullRotate .3s linear forwards;
    }
    @media only screen and (min-width: 600px)  {
      display: none;
    }
  }
  #carret-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin: auto 5px;
    &:hover {
      transform-origin: 50% 50%;
      animation: jump .5s linear alternate infinite;
    }
    &:active {
      animation: fullRotate .3s linear forwards;
    }
    @media only screen and (min-width: 600px)  {
      display: none;
    }
  }
  #map-points-list {
    display: grid;
    max-height: 300px;
    transition: all 1s ease-in-out;
    overflow: scroll;
    @media only screen and (min-width: 600px)  {
      transition: none;
      max-height: 90vh;
    }
  }
  .undisplayed {
    display: none !important;
  }
  .unvisible {
    max-height: 0 !important;
    overflow: hidden;
    transition: all 1s ease-in-out;
    @media only screen and (min-width: 600px)  {
      transition: none;
    }
  }
}